<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhuru.dashboard" >

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mywidget" />
        </receiver>

        <service
            android:name=".UpdateWidgetService"
            android:exported="false" >
        </service>
        <service android:name=".LogReader" />

        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PDFreport"
            android:label="@string/title_activity_pdfreport" >
        </activity>
    </application>

</manifest>
